Options All -Indexes
Options -MultiViews

<FilesMatch "\.(env|htaccess|htpasswd|ini|log|sh|sql)$">
    Require all denied
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]